@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-padding-top: 60px;
  overflow-x: hidden;
  width: 100vw;
}

@layer base{
  body{
    @apply bg-[#f4f4f4]
  }
}

@layer components {
  .input-el::placeholder {
    @apply text-sm text-[#4d4d4d];
  }
}

.otp-input{
  width: 50px !important
}

.glassmorphism{
  background: rgba(142, 142, 146, 0.5);
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.hero-div{
  aspect-ratio: 5 / 3;
}

.hero-div2{
  aspect-ratio: 5 / 3.75 ;
}

@media screen and (max-width: 640px) {
  nav.active{
    animation: menubar 1s ease forwards;
  }
  
  @keyframes menubar {
    0%{
      width: 0;
      opacity: 0;
    }
    100%{
      width: 100%;
      opacity: 1;
    }
  }
  nav.inactive{
    width:100%;
    opacity: 1;
    animation: menubar2 1s ease forwards;
  }
  
  @keyframes menubar2 {
    0%{
      width:100%;
      opacity: 1;
    }
    100%{
      width: 0;
      opacity: 0;
    }
  }
}


@media screen and (min-width: 768px) {
  .hero-div, .hero-div2{
    aspect-ratio: 5 / 2.5;
  } 
}


@media screen and (min-width: 1024px) {
  .hero-div,.hero-div2{
    aspect-ratio: 5 / 2;
  } 
}